$headFoot: rgb(102, 102, 102);
$bodyColor: rgb(128, 128, 128);

body {
    margin: 0px;
    position: relative;
    min-height: 100vh;
    background-color: $bodyColor;
    font-family: 'Merienda One', cursive;
}

header {
    background-color: $headFoot;
    display: flex;
}

h1 {
    display: inline-block;
}

a {
    display: inline-block;
}

footer {
    background-color: $headFoot;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}