$headFoot: rgb(102, 102, 102);
$bodyColor: rgb(128, 128, 128);
html {
    height: 100%;
}
html, body {
    margin: 0;
    position: relative;
    height: 100%;
    background-color: $bodyColor;
    font-family: 'Merienda One', cursive;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.container {
    background-color: $headFoot;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
    margin-bottom: 20px;
}
.submit {
    text-align: center;
}
@media (min-width: 736px) {
    [class*='col-'] {
        display: inline-block;
    }
    .row {
        display: flex;
        flex-direction: ltr;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 10%;
    }
     .supportLinks {
        margin-right: 10px;
    }
    .forms {
        display: flex;
        align-items: center;
        flex-direction: ltr;
        margin-left: 35%;
        margin-right: 35%;
    }
    #form2 {
        margin-left: 10%;
    }
    #inner {
        align-items: center;
        margin: 15%;
        max-width: 80%;
        img {
            padding: 0px;
            width: 300px;
            height: 300px;
            border: solid 5px;
            border-color: $bodyColor;
        }
    }
}
@media (max-width: 735px) {
    [class*='col-'] {
        text-align: center;
    }
    .col-3-8 {
        order: 1;
    }
    .col-6-8 {
        order: 2;
    }
    .col-7-8 {
        order: 3;
    }
    .col-8-8 {
        order: 4;
    }
    .forms {
        text-align: center;
    }
    #form1 {
        order: 1;
    }
    #form2 {
        order: 2;
    }
}
.footer {
    background-color: $headFoot;
    text-align: center;
    width: 100%;
    height: 50px;
}