$headFoot: rgb(102, 102, 102);
$bodyColor: rgb(128, 128, 128);

body {
    margin: 0px;
    position: relative;
    min-height: 100vh;
    background-color: $bodyColor;
    font-family: 'Merienda One', cursive;
}

.container {
    background-color: $headFoot;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
}

@media (min-width: 321px) {
    [class*='col-'] {
        display: inline-block;
    }
    .col-3-8 {
        padding-left: 10%;
        padding-right: 40%;
    }
    .col-6-8 {
        padding-right: 20px;
    }
    .col-7-8 {
        padding-right: 20px;
    }
    .col-8-8 {
        padding-right: 20px;
    }
}

footer {
    background-color: $headFoot;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}